[Application]
name=twixtbot-ui
version=2021-05-03
# How to launch the app - this calls the 'main' function from the 'myapp' package:
entry_point=src.tbui:main


[Python]
version=3.7.9

[Include]
# Packages from PyPI that your application requires, one per line
# These must have wheels on PyPI:
pypi_wheels = numpy==1.19.5
    matplotlib==3.3.4
    tensorflow==2.4.1
    PySimpleGUI==4.39.1

# Other files and folders that should be installed
files = games/ 
    img/ 
    model/ 
    LICENSE 
    README.md 
	src/
    
 
    
    